.form{
    display: flex;
    gap: 7px;
    float: right;
    flex-direction: row;
}
.form input{
    border: 0.3px solid rgba(8, 8, 8, 0.926);
    border-radius: 10px;
    padding-left: 5px;
    font-size: 1.5;
    outline: none;
}
.form input:focus{
    outline: none;
    border: 2px solid rgb(111, 112, 111);
}
.form button{
    border: none;
    background-color: blue;
    border-radius: 100px;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    transition: 200ms all;
    color:white;
    outline: none;
}
.form button:focus{
    outline: none;
    transform:scale(0.9);
    transition: 400ms ease-in-out;
    border: none;
}
@media () {
    
}
