@font-face {
    font-family:"Poppis";
    src: url("./assets/fonts/Poppins-Medium.ttf");
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    background-color: rgb(238, 237, 237);
}

*{
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-family: "Poppis";
}

img{
    width: 100%;
    height: 100%;
}


